*,
::after,
::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $white;
}

.nav {
  justify-content: space-between;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/tulsa.jpg");
  height: 100vh;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

@supports (display: grid) {
  .hero {
    display: grid;
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .footer {
    display: flex;
      flex-direction: column;
    }
}

