@use "sass:color";

@function split($num, $div) {
  @return $num / $div;
}

$theme-colors: (
  "primary": #fcde67,
  "secondary": #030e12,
  "accent": #5bccf6,
  "white": #f0ead6,
  "blank": whitesmoke
);


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$white: #f0ead6;
$primary: #fcde67;
$secondary: #030e12;
$form-width: split(100%, 1.25);
